/* @theme fhooe */

@import 'default';

section {
    position: relative;
}

section::before {
    content: "";

    display: block;

    position: absolute;

    top: 0;
    right: 0;

    z-index: 100;

    width: 3rem;
    height: 3rem;

    background-color: #004B96;    
    background-image: url(../../Theme/fhooe.svg);
    background-repeat: no-repeat;
    background-size: 66%;
    background-position: center;
}